.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
body{/*background-color:#068d32; margin:0px; font-family:Arial; font-size:12px;*/
	background-attachment: fixed;
    background-color: #F5F5F5;
    background-image: url("../images/bg.jpg");
    background-position: center top;
    background-repeat: repeat-x;
    color: #4B4D4E;
    font-family: 'Droid Sans',Arial,Geneva,Helvetica,sans-serif;
    font-size: 12px;
}

#maincontainer{ min-width:1003px; max-width:1190px !important; margin:20px;}
#maincontainer #header{ }
#maincontainer #header #top{ background-image:url(../images/top.png); height:7px;}
#maincontainer #header #top #top_left{background-image:url(../images/tl.png); background-repeat:no-repeat; width:7px; height:7px; background-color:#96A5AC; float:left;}
#maincontainer #header #top #top_right{background-image:url(../images/tr.png); background-repeat:no-repeat; width:7px; height:7px; background-color:#96A5AC; float:right;}

#maincontainer #text_holder{ background-color:#FFF;}
#maincontainer #text_holder #logo_area{background:none repeat scroll 0 0 #3A454B; height:95px; border-left:#FFF 3px solid;border-right:#FFF 3px solid;}
#maincontainer #text_holder #logo_area #logo{ padding:10px 0px 10px 20px; float:left;}
#maincontainer #text_holder #logo_area #logo_text{ padding:46px 0px 0px 20px; float:left; font-size:25px; font-weight:bold; color:white;}
#maincontainer #text_holder #logo_area #login_text{ padding:10px 20px 0px 0px; float:right; font-size:12px;color:white;}
#maincontainer #text_holder #logo_area #login_text a{ text-decoration:none;color:white;}
#maincontainer #text_holder #logo_area #login_text a:hover{ text-decoration:underline;color:white;}
#navigation_links{ }
#navigation_links #navigation{ padding:20px 0px 0px 0px;background-image:url(../images/selecter.png);background-repeat:repeat-x; background-position:bottom; height:30px; }
#navigation_links #navigation .links{
	 background-color: #33BEE5;
    color: #FFFFFF;
    cursor: pointer;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    margin: 1px;
    padding: 13px;
	 /*float:left; font-size:14px; font-weight:bold;padding:6px 10px 6px 10px;  border:#dedede 1px solid;  border-left:0px;*/}
#navigation_links #navigation .links a{ text-decoration:none; color:#fff; }

/*#maincontainer #contents_box #other_contents #navigation #links a:hover{margin:0px 0px 0px 0px; padding:10px 10px 10px 10px;border-left:#666 1px solid;border-top:#666 1px solid;border-right:#666 1px solid;border-bottom:#FFF 1px solid;color:#009c0c;}*/
#navigation_links #navigation .selected{border-bottom:#FFF 1px solid;background-color:#3A454B;}

#tab_items{margin:10px 0px 0px 0px;padding:0px 0px 5px 22px; font-size:12px;border-bottom:#dedede 1px solid;}
#tab_items ul{ margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;color:#dedede;}
#tab_items ul li{margin:0px 0px 0px 0px;padding:0px 10px 0px 10px; display:inline;}
#tab_items ul li a{ text-decoration:none; color:#545454;
 	border-bottom: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
    font-weight: bold;
    height: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: auto;
}
#tab_items ul li a:hover{ text-decoration:underline; }
#tab_items ul li .selected_red{ text-decoration:none; color:#cc0000;}

#maincontainer #page_content{ padding:0px 5px 50px 5px; }
#maincontainer #page_content #contents{  margin:20px 0px 0px 0px}
#main_heading{color:#fff;font-size:18px; padding:10px 0px 10px 20px; background-color:#3A454B; margin-bottom:20px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
-khtml-border-radius: 7px;
}
#main_heading #nav_links{ font-size:14px; font-weight:bold;padding:6px 10px 6px 10px; text-decoration:none;}
#main_heading #nav_links a{ text-decoration:none; color:#fff; }
#main_heading #nav_links a:hover{ text-decoration:underline; color:#CC0000; }
#main_heading #nav_links a:selected{ text-decoration:underline; color:#CC0000; }



.listig_table{ border:1px  #e8e8e8 solid; border-right:0px;}
.listig_table th{ color:#fff;border-right:1px solid #e8e8e8;  text-align:left; font-size:12px; font-weight:bold; background-color:#3A454B; height:25px; padding:0px 0px 0px 5px; }
.listig_table td{  border-right:1px solid #e8e8e8; text-align:left; font-size:12px; height:25px; padding:0px 0px 0px 5px; }
.listig_table td a{ text-decoration:none; color:#0000ee;}
.listig_table td a:hover{ text-decoration:underline;}
#maincontainer #footer{}
#maincontainer #footer #bottom{ background-image:url(../images/bottom.png); height:7px;}
#maincontainer #footer #bottom #bottom_left{background-image:url(../images/bl.png); background-repeat:no-repeat; width:7px; height:7px; background-color:#f5f5f5; float:left;}
#maincontainer #footer #bottom #bottom_right{background-image:url(../images/br.png); background-repeat:no-repeat; width:7px; height:7px; background-color:#f5f5f5; float:right;}
span.font_12px{ font-size:12px; font-weight:normal;}
.line{ background-color:#dedede; height:1px; margin:10px 30px 0px  30px;}

.tbl_small{ border:1px  #f0f0f0 solid; border-right:0px; }
.tbl_small th{ border-right:1px solid #f0f0f0;  text-align:left; font-size:11px; font-weight:bold; height:20px; padding:0px 0px 0px 5px; }
.tbl_small td{  border-right:1px solid #f0f0f0; text-align:left; font-size:11px; height:25px; padding:0px 0px 0px 5px; }
.tbl_small td a{ text-decoration:none; color:#0000ee;}
.tbl_small td a:hover{ text-decoration:underline;}



#administration_box{ background-image:url(../images/Administration_panel.png); width:365px; height:250px; background-repeat:no-repeat; margin:20px auto 0px auto;}
#administration_box #contents{ padding:10px 0px 0px 35px;}
#administration_box #contents #manandlock{ float:left;}
#administration_box #contents #Administration{ float:left; padding:34px 0px 0px 20px;}
#administration_box #contents #text{ float:left; font-size:12px; font-weight:bold; padding-top:44px;}
#administration_box #contents #text_field{ float:left; background-image:url(../images/text_bar.png); width:202px; height:23px; background-repeat:no-repeat;margin:40px 0px 0px 20px;}
#administration_box #contents #text_field input{ border:0px; margin:2px 0px 0px 1px; font-size:12px; padding:0px 0px 0px 0px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#eaeaea'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eaeaea)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fdfdfd,  #eaeaea); /* for firefox 3.6+ */ color:#b0b0b0;}
#administration_box #contents #login_bttn{ padding:20px 0px 0px 84px;}


/*a {
	color: #000;
	text-decoration: none;
}
a:visited {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: underline;
}*/
p {
	margin: 0px;
	padding: 0px;
}
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
#MainContainer {
	width: 1003px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#TopNav {
	/*background-color: #729338;*/
	border:1px solid #dddddd;
	padding: 10px;
}
#BodyContainer {
	background-color: #FFF;
	padding: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 50px;
	margin-left: 0px;
}
#SubNav {
	background-color: #d4dec3;
	padding: 10px;
}
#LoginContainer {
	width: 448px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
}
.ErrorMsg {
	color: #FF0;
	text-decoration: none;
}
h1 {
	font-size: 18px;
	color: #729338;
	text-decoration: none;
}
.AdminFieldLarge {
	width: 96%;
}

#AdminLeftConlum {
	float: left;
	width: 50%;
	border: 1px solid #DBDBDB;
	padding-top: 5px;
	padding-bottom: 5px;
}
#AdminRightConlum {
	float: left;
	width: 45%;
	padding-left: 2%;
	border: 1px solid #DBDBDB;
	margin-left: 2%;
	padding-top: 10px;
	padding-bottom: 10px;
}
#AdminRightConlum ul  {
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
#AdminRightConlum ul li  {
	color: #8c1515;
	line-height: 18px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#BodyRightArea {
	float: left;
	width: 209px;
	margin-right:20px;
}
#BodyLeftArea {
	float: left;
	width: 620px;
	margin-left:50px;
}
#HeadingArea {
	/*padding-bottom: 10px;*/
}


.msg_error{
	font-size:12px;
	background: #FFE8F2; border:1px solid #F00; 
	padding:10px 10px 10px 10px; margin:0px 10px 0px 10px;
	
}

.msg_warning{
	font-size:12px;
	background: #FFC; border:1px solid #FF0; 
	padding:10px 10px 10px 10px; 
	margin:0px 10px 0px 0px;
	
}

.msg_done{
	font-size:12px;
	background: #E3FCE2; border:1px solid #45C210; 
	padding:10px 10px 10px 10px; margin:0px 10px 0px 10px;
	
}

.listbox{
border:1px solid #F0F0F0; width:100%; float:left; margin:5px; position:relative;	
}

.listbox #imagebox{
	margin:10px; border:#F0F0F0 1px solid; float:left; width:80px;
}

.listbox #title{
float:left; font-size:18px; margin:10px 0px 0px 0px; font-weight:bold;
}
#Site_URL{padding:5px 10px 5px 0px; font-size:12px;}
#URL_Links{float:left;}
.listbox #title a{
	text-decoration:none; color:#666;
}

.listbox #actions{
 font-size:11px; padding:2px; top:0px; right:0px;position:absolute;border:1px solid #F2F2F2; margin:3px 3px 0px 0px; background-color:#F0F0F0; text-align:center; width:78px;
}

.listbox #actions #icons{margin:0px; padding:0px 0px 0px 5px; float:right; }
.listbox #actions #icons a{ color:#666; text-decoration:none; }
.listbox #actions #icons a:hover{text-decoration:underline; }





.form_outer {
	border:1px solid #F0F0F0; padding: 10px 10px 10px 10px;
}

.form_outer1 {
	border:1px solid #F0F0F0; padding: 10px 10px 10px 10px; float:right; width:445px;
	
}
.Width{ width:40%;}
.Table_Outer_Div{ width:950px; margin:0 auto}

#menulisting td{
	font-size:12px;
}

#menulisting td .smalllink{
	font-size:11px; border:#f2f2f2 1px solid; padding:3px; background-color:#f0f0f0; color:#999;
}
#menulisting td .largelink{
	font-size:14px;
}

#menulisting td .mediumlink{
	font-size:13px; font-weight:bold;
}

#menulisting #menus{ margin:15px 0px 0px 0px; }
#menulisting #items{ margin:10px 0px 0px 0px; }

/*#menulisting ul li{ padding:20px 0px 20px 0px;}*/

.btn { font-size:20px;}


#body_left_nav {

	float:left;
 
	padding-right:5px;
	padding-bottom:30px; 
	font-family:Tahoma, Geneva, sans-serif;
	border:#ededed 1px solid;width:260px;
	 padding-right:0px; padding-bottom:0px;
}
.itemopened {
	font-size:12px;
	font-weight:bold;
	color:#333;
	padding:5px 0px 5px 0px;
	padding:10px 0px 10px 16px;
	background-image:url(../images/open_arrow.png);
	background-repeat:no-repeat;
	background-position:0px 15px;
	margin-left:10px;
}
.itemopened a {
	text-decoration:none;
	color:#333;
}
.searchlist {
	font-size:11px;
}
.searchlist ul {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.searchlist li {
	margin:0px 0px 0px 0px;
	padding:5px 0px 5px 10px;
	list-style-type:none;
	background-image:url(../images/black_dot.png);
	background-repeat:no-repeat;
	background-position:0px 10px;
	margin-left:26px;
}
.searchlist a {
	color:#0000ee;
	text-decoration:none;
}
.searchlist a:hover {
	color:#ff6d06;
	text-decoration:none;
}
.searchlist .selected a {
	color:#ff6d06;
	text-decoration:none;
	font-weight:bold;
}
#dotted_line {
	border-bottom:#cccccc 1px dotted;
}
.itemclosed {
	font-size:12px;
	font-weight:bold;
	color:#333;
	padding:5px 0px 5px 0px;
	padding:10px 0px 10px 16px;
	background-image:url(../images/close_arrow.png);
	background-repeat:no-repeat;
	background-position:0px 13px;
	margin-left:10px;
}
.itemclosed a {
	text-decoration:none;
	color:#333;
}

#body_left_nav_client {

	float:left;
	width:150px;
	padding-right:5px;
	padding-bottom:30px; 
	font-family:Tahoma, Geneva, sans-serif;
	border:#ededed 1px solid;width:170px; padding-right:0px; padding-bottom:0px;
}
#body_left_nav_client a:hover {
	color:#ff6d06;
	text-decoration:none;
}
#body_left_nav_client .selected a {
	color:#ff6d06;
	text-decoration:none;
	font-weight:bold;
}

 

table tr{
   background-color: #fff;
}

table tr:nth-child(odd) {
   background-color: #efefef;
}

input[type=text].alert-error,input[type=select].alert-error,input[type=password].alert-error{
 	background-color: #F99;
	border: 1px solid #D92353;
	border-image: initial;
}
 
  .alert-error {
	background-color:#f2dede;
	border-color:#eed3d7;
	color:#b94a48;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	 
}
div.alert-danger, div.alert-error , span.alert-error{
	padding:8px 10px;
	margin: 5px 0 10px 0;
	 
	}

/*change for new menu top navigation*/
.top_links
{
    background-color: #808080;
    cursor: pointer;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    margin: 1px;
    padding: 13px;
    font-family: tahoma;
}

.top_links a
{

    color: #FFFFFF;
    text-decoration: none;
}
.top_Selected
{
    color:lightgray;
    background-color: #808080;
    cursor: pointer;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    margin: 1px;
    padding: 13px;
    font-family: tahoma;
}
.top_Selected a
{
    color: lightgray;
    text-decoration: none;
}



/*--------------- Reputation css*---------------------------------*/
#overview
{

}
#welcome-message
{
padding: 10px 15px;
background: #efefef;
border: 1px solid #dbdbdb;
margin: 0 0 15px 0;
font-size: 16px;
line-height: 140%;
}

.box-heading {
border: 1px solid #dbdbdb;
margin: 0 0 15px 0;
position: relative;
}
.box-heading h3 {
background: #efefef;
margin: 0;
padding: 10px;
font-size: 18px;
border-bottom: 1px solid #dbdbdb;
}
#overview-visibility #percent {

font-size: 45px;
color: #666;
margin-left: 7px;
}
#presece_heading {

margin: 18px 0 0 10px;
font-weight: bold;
font-size: 14px;
color: #666;
}

#vis-list
{
    height: 130px;
    margin-top: 50px;
    margin-left: 20px;
}
#accurate
{
    font-size: 15px;
    width: 300px;
    float: left;
    color: #666666;
    margin-left: 50px;
}
#errors
{
    font-size: 15px;
    width: 300px;
    float: left;
    color: #666666;
    margin-left: 50px;
}
#missing
{
    font-size: 15px;
    width: 300px;
    float: left;
    color: #666666;
    margin-left: 50px;
   
}
#graphing .graph-container {
display: inline;
float: left;
width: 360px;
margin-left: 37px;
}

.graph-container a
{
    float: right;
    color: #3faae0;
    text-decoration: none;
    margin-right: 5px;
    font-size: 14px;
    margin-bottom: 4px;
}
.graph-container a:hover
{
    text-decoration: underline;
}

/*SOCIAL TAB -- Added by Raheel 27/06/2014 */

.select-social-service{
    float: right;
}
.social-stat-header{
    display: inline-block;
    margin: 5px;
}
.v-box-heading h2, .v-filter h2 {
    padding: 10px;
    font-size: 18px;
    background-color: #efefef;
    margin: 0;
    border-bottom: 1px solid #dadada;
}
.v-box-heading, .v-filter {
    border: 1px solid #dadada;
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.base-table table thead th, .base-table table tbody th {
    height: 23px;
    background-color: #dcf1e7;
    padding: 5px 10px;
    color: #666;
    font-weight: bold;
    border: 1px solid #dadada;
    text-align: center;
}
.base-table table {
    border: none;
    margin-bottom: 10px;
    border-collapse: collapse;
    font-size: 12px;
    position: relative;
    table-layout: fixed;
    width: 100%;
}
.base-table table tbody td {
    padding: 0 10px;
    height: 30px;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: white;
    text-align: center;
}
.base-table table .table-2-col {
    width: 80px;
    border-right: 0;
}
.base-table table .table-3-col {
    width: 80px;
    border-right: 0;
}
.base-table table .table-7-col-last {
    width: 518px;
}
.base-table table .your-total {
    color: #783bb2;
    font-weight: bold;
    font-size: 16px;
}
.base-table table span {
    font-size: 14px;
}


.icon32-sourceId-10050, .icon32-sourceId-10060, .icon32-sourceId-10080 {
    background: url('http://localhost:88/easywayordering/c_panel/images/icon32-s814aa37deb.png') no-repeat;
}
.icon32-sourceId-10050, .icon32-sourceId-10060, .icon32-sourceId-10080 {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
}
.icon32-sourceId-10050 {
    background-position: 0 -1952px;
}
.icon32-sourceId-10080 {
    background-position: 0 -928px;
}
.icon32-sourceId-10060 {
    background-position: 0 -1760px;
}
/*SOCIAL TAB ENDS HERE -- Added by Raheel 27/06/2014 */


/*ACCOUNT TAB START HERE -- Added by Raheel 4/7/2014 */
.req{
     color: red !important;
     display: inline;
     float: none;
     font-weight: bold;
     margin: 0;
     padding: 0;
 }
 .emailInput{
     padding: 3px;
     display: inline;
     float: left;
     margin-right: 20px;
     width: 220px;
     margin-top: 4px;
 }
 .SaveBtn{
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     -ms-border-radius: 4px;
     -o-border-radius: 4px;
     border-radius: 4px;
     font-weight: bold;
     cursor: pointer;
     min-width: 110px;
     height: 30px;
     border: 1px solid #a0a0a0;
     color: #333;
     background: none repeat scroll 0 0 #f7f7f7;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 12px;
     font-weight: bold;
     text-shadow: none;
 }
 .SaveBtn:hover{
     background: #e0e0e0;
     border-color: gray;
 }
 .tabMainDiv{
     margin-left: 14px;font-weight: bold;
 }
 .inputEmailDiv{
     width: 100%;margin-top: 20px
 }
 .inputEmailLbl{
     float: left;margin: 0 40px 0 0;width: 200px;
 }
 .inputEmailTxt{
     float:left;width: 495px;margin-top: -5px;
 }

 .mainH1{
     font-size: 24px;font-weight: bold;margin: 0 0 .5em 0;clear: both;color: #000000;
 }
 .mainH2{
     padding-bottom: 4px;margin-bottom: 15px;margin-top: 0;overflow: hidden;font-size: 15px;
 }
 .required{
     border:1px solid red;
 }
 .help-text{
     border: 1px solid #e6e6e6;
     background-color: #f5f5f5;
     padding: 10px;
     left: 568px;
     position: absolute;
     width: 260px;
     font-weight: normal;
 }
 #tabs{
     padding-left: 0px;
     background: transparent;
     border-width: 0px 0px 0px 0px;
     -moz-border-radius: 0px;
     -webkit-border-radius: 0px;
     border-radius: 0px;
 }
 /*ACCOUNT TAB ENDS HERE -- Added by Raheel 4/7/2014 */